/* NOTE: CSS file used since goober/solid-styled-components can't handle this */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('fonts/roboto-v30-latin_greek_cyrillic-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('fonts/roboto-v30-latin_greek_cyrillic-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('fonts/roboto-v30-latin_greek_cyrillic-700.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('fonts/roboto-mono-v22-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('fonts/noto-sans-jp-v42-latin_japanese-regular.woff2') format('woff2');
}
