#include <winuser.h>

// icon
100 ICON "../../target/launcher/res/icon.ico"
// version info
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  0,1,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Kamite Project (https://github.com/fauu/Kamite/)"
            VALUE "FileDescription", "A language immersion companion for learners of Japanese"
            VALUE "FileVersion", "1.0"
            VALUE "InternalName", "Kamite"
            VALUE "LegalCopyright", "Piotr Grabowski"
            VALUE "OriginalFilename", "Kamite.exe"
            VALUE "ProductName", "Kamite"
            VALUE "ProductVersion", "0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04E4
    END
END
// manifest
1 RT_MANIFEST "Kamite.exe.manifest"
