#@define enum
UILayout: [STANDARD, STANDARD_FLIPPED]

#@define enum
OCREngine: [TESSERACT, MANGAOCR, MANGAOCR_ONLINE, OCRSPACE, EASYOCR_ONLINE, HIVEOCR_ONLINE, GLENS, NONE]

controlWindow: "boolean | true"
launchBrowser: "boolean | true"

chunk: {
  correct: true
  throttleMS: "int | 200"
  translationOnlyMode: false
  flash: true

  log: {
    dir: "string?"
  }

  filter: {
    #@optional
    rejectPatterns: [string]
  }

  furigana: {
    enable: "boolean | false"
    conceal: "boolean | false"
  }

  #@optional
  transforms: [{
    replace: string
    with: string
  }]
}

commands: {
  player: {
    showExtra: "boolean | true"
  }

  #@optional
  custom: [{
    symbol: string
    name: string
    command: [string]
  }]
}

dev: {
  serveStaticInDevMode: "boolean | false"
}

# WIP
events: {
  #@optional
  handlers: [{
    on: string

    #@optional
    exec: [string]

    #@optional
    command: {
      kind: string
      params: "string?"
    }
  }]
}

integrations: {
  agent: {
    enable: "boolean | false"
    host: "string | 127.0.0.1:9001"
  }
}

keybindings: {
  global: {
    ocr: {
      manualBlock: "string?"
      manualBlockRotated: "string?"
      autoBlock: "string?"
      autoBlockSelect: "string?"

      #@optional
      region: [{
        symbol: string
        key: string
      }]
    }
  }
}

lookup: {
  targets: [{
    symbol: string
    name: string
    url: string
    newTab: "boolean | false"
  }]
}

ocr: {
  engine: OCREngine
  watchDir: "string?"

  tesseract: {
    path: "string | tesseract"
  }

  mangaocr: {
    pythonPath: "string?"
  }

  ocrspace: {
    engine: "int | 1"
  }

  #@optional
  regions: [{
    symbol: string
    description: "string?"
    x: int
    y: int
    width: int
    height: int
    autoNarrow: "boolean | false"
  }]
}

secrets: {
  ocrspace: "string?"
}

server: {
  port: "int | 4110"
}

sessionTimer: {
  autoPause: {
    enable: "boolean | true"
    after: "duration:seconds?"
  }
  startPaused: "boolean | false"
}

ui: {
  focusMode: "boolean | false"
  layout: UILayout
  notebook: {
    collapse: "boolean | false"
    height: "int | 60"
  }
}

update: {
  check: "boolean | true"
}
